[Unit]
Description=kargotakip cronjob service

[Service]
ExecStart=node /usr/local/kargo-takip-cronjob/app.js
Restart=always
User=root
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/usr/local/kargo-takip-cronjob

[Install]
WantedBy=multi-user.target
